html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.container, .container-flex, .footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container, .container-flex, .footer__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .container-flex, .footer__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .container-flex, .footer__container {
    max-width: 1200px;
  }
}

.navigation__list, .header__social-text-list, .features-list, .specialization-list, .employee-cards, .clients-list, .addres__items, .filter-list, .cards-set, .socilal-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link, .contacts-header__link, .social-text-list__link, .logo, .clients-list__link, .map-link, .address__link, .portfolio-link, .socilal-links-list__link {
  text-decoration: none;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container-flex {
  display: flex;
  align-items: center;
}

.menu-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-wrapper.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: #fff;
    padding: 48px 40px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.navigation__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation__link::after {
    display: none;
  }
}

.navigation__link:hover, .navigation__link:focus, .navigation__link--curent {
  color: #2196f3;
}

.navigation__link--curent::after {
  opacity: 1;
}

.contacts-header {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts-header {
    margin-top: auto;
    margin-bottom: 64px;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header {
    margin-bottom: 0;
    margin-left: auto;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-header__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts-header__link {
    font-size: 27px;
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) {
  .contacts-header__link {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header__link {
    font-size: 12px;
  }
}

.contacts-header__link:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-header__link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header__link:not(:last-child) {
    font-size: 24px;
    color: #757575;
  }
}

.contacts-header__link:hover, .contacts-header__link:focus {
  color: #2196f3;
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts-header__icon {
    display: none;
  }
}

.header__social-text-list {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__social-text-list {
    display: flex;
  }
}

.social-text-list__item:not(:last-child) {
  margin-right: 20px;
}

.social-text-list__link {
  position: relative;
  color: #2196f3;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .social-text-list__link {
    font-size: 18px;
  }
}

.social-text-list__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.social-text-list__item:last-child .social-text-list__link::after {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__accent {
  color: #2196f3;
}

.footer__logo {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-right: 0;
  }
}

.button {
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #fff;
  background-color: #2196f3;
}

.button--primary {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  border-width: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover, .button-main:focus {
  background-color: #188ce8;
}

.button-main .icon {
  margin-left: 10px;
}

.button-burger-menu {
  z-index: 6;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: 0;
  margin-left: auto;
}

.button-burger-menu:hover, .button-burger-menu:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .button-burger-menu {
    display: none;
  }
}

.button-burger-menu .icon-close {
  display: none;
}

.button-burger-menu.is-open .icon-close {
  display: block;
}

.button-burger-menu.is-open .icon-burger {
  display: none;
}

.section-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 94px;
  width: 100%;
  max-width: 480px;
  height: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-mobile.jpg);
  background-position: top, left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-bg-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-mobile-x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-tablet-x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background-desktop-x2.jpg);
  }
}

.section-hero__inner {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
}

.section-hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features-list__description {
  font-size: 14px;
  line-height: 1.71;
}

.section--specialization {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--specialization {
    display: none;
  }
}

.specialization-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.specialization-list__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.specialization__thumb {
  position: relative;
}

.specialization__thumb::after {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization__lable {
  position: absolute;
  width: 100%;
  bottom: 27px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.section--team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .employee-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.employee-cards__item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .employee-cards__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .employee-cards__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

@media screen and (max-width: 767px) {
  .employee-cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.employee-cards__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-cards__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.employee-cards__position {
  color: #757575;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.clients-list__item {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #afb1b8;
  border-color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus, .clients-list__link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item--subsribe {
    flex-basis: calc(100% / 1.7);
  }
}

@media screen and (min-width: 1200px) {
  .footer__item--subsribe {
    flex-basis: calc(50% - 15px);
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.map-link {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover, .map-link:focus {
  color: #2196f3;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__input {
  color: #fff;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: 100%;
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    overflow-y: unset;
  }
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: #2196f3;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
}

.form__input:focus {
  outline-color: #2196f3;
}

.form__field:focus-within .form__icon {
  fill: #2196f3;
}

.form__label {
  color: #757575;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: #212121;
}

.form__input--textarea {
  padding: 12px 16px;
  resize: none;
}

.form__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.agreement-check {
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.agreement-check__text, .agreement-check__link {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agreement-check__link {
  color: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border-style: solid;
  border-color: #212121;
  border-width: 2px;
  border-radius: 3px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-checked.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.button-main--centered {
  display: block;
  margin: 0 auto;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .cards-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cards-set__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cards-set__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cards-set__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.portfolio-thumb__overlay {
  position: absolute;
  z-index: 2;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-thumb__overlay,
.portfolio-link:focus .portfolio-thumb__overlay {
  transform: translateY(0);
}

.portfolio-meta {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-meta__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-meta__description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.socilal-links-list {
  display: inline-flex;
}

.socilal-links-list__item {
  display: inline-flex;
  align-items: center;
}

.socilal-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.socilal-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socilal-links-list__link:hover, .socilal-links-list__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.socilal-links-list .icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */