.button {
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $title-color;
    background-color: #f5f4fa;
  
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
color: #fff;
  background-color: $accent-color;
}
}

  .button--primary {
    color: #fff;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    padding: 0;
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #fff;
    border-radius: 4px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover, &:focus {
        background-color: #188ce8;
}

}
.button-main .icon {
  margin-left: 10px;
}