.clients-list {
    @extend %list;
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;

}
.clients-list__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
    &:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;
      }

} 
.clients-list__link{
@extend %link;
display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #afb1b8;
  border-color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus, &:hover {
    color: $accent-color;
    border-color: $accent-color;
  }
}

