.clients-list {
  @extend %list;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}
.clients-list__item {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}
.clients-list__link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: #afb1b8;
  border-color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
    border-color: $accent-color;
  }
}
