.header {
    border-bottom: 1px solid #ececec;
  }
  .container-flex {
      @extend .container;
      display: flex;
  }
  .navigation{
      display: flex;
      align-items: center;    

      }
      .navigation__list {
          @extend .navigation;
          @extend %list;
      }

  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    @extend %link;

    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after{
        content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $accent-color;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover, &:focus, &--curent {
        color: $accent-color;
    }
    &--curent::after{
        opacity: 1;
    }
  }
  .contacts-header {
    margin-left: auto;
    display: flex;
    align-items: center;    
  }
  
  .contacts-header__link {
    @extend %link;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:not(:last-child) {
      margin-right: 50px;
    }

    &:hover, &:focus {
      color: $accent-color; 
    }
  }
  .contacts-header__icon {
    margin-right: 10px;
    fill: currentColor;
  }