.section-hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 94px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_background.jpg);
  
    background-position: top, left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-bg-color);
  }

  .section-hero__inner{
    margin: 0 auto;
    max-width: 696px;
    text-align: center;
  }
  .section-hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }
  