.section-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 94px;
  width: 100%;
  max-width: 480px;
  height: 480px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background-mobile.jpg);

  background-position: top, left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-bg-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_background-mobile-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_background-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section-hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero_background-tablet-x2.jpg);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_background-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .section-hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero_background-desktop-x2.jpg);
      }
    }
  }
}

.section-hero__inner {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
}
.section-hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  // text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
