.socilal-links-list {
    @extend %list;
    display: inline-flex;
    
  }
  .socilal-links-list__item {
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 10px;}
  }

  .socilal-links-list__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: rgba(255, 255, 255, 0.1);
  
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
      color: #fff;
      background-color: $accent-color;
    }
  }

  .socilal-links-list .icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  